# Kicad artefacts
*backups
**/*.net
**/_autosave-*
**/*.bak
**/*.bck
**/*.kicad_sch-bak
**/*.kicad_pcb-bak
**/*.lck
**/fp-info-cache
**/*.kicad_prl

# VS code and build artefacts
**/build/
**/.vscode

# LTspice artefacts
**/*.log
**/*.raw

# Useless extension (WSL)
*Zone.identifier

